body
{
    font-size: 20px;
}
#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: black; 
    padding: 10px 0; 

}

#navbar a {
    color: white; 
    text-decoration: none; 
    margin: 0 10px; 
}

#navbar a:hover {
    background-color: black; 
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}
